html,
body {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

canvas#bevy-canvas {
  border-radius: 10px;
}
